{% extends "@fw-example/backend.layer.html.twig" %}

{% do helper.head.addTitle(helper.trans('backend@dashboard')) %}
{% do helper.selectBackendLeftMenu('Example 3') %}

{% block content %}

<h1>{{ 'backend@dashboard'|trans }}</h1>

<button id="hello-world" type="button" class="btn btn-primary">Hello World!</button>
<script>
    panelAdmin.addInitFunction(function(pa){
        $('#hello-world').on('click', function(){
            pa.simpleModal('Hello World', $('<div>', {text: 'Hello World'}), '', $('<button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>'))
        })
    })
</script>

{% endblock %}
