{% extends "@fw-example/home.layout.html.twig" %}

{% set custom %}
    <style>
        body {display: flex; justify-content: center; align-items: center;}
        a {color: grey;}
        body {width: 100vw; height: 100vh;}
        .message {text-align: center;}
        .hello {font-size: 2.5rem;}
        .links a {padding: 0 0.4rem;}
    </style>
{% endset %}
{% do helper.head.addSource('style', custom) %}

{% block content %}
    <div class="message">
        <div class="hello">{{ message }}</div>
        <div class="links">
            {% if helper.isGuest() %}
                <a href="{{ helper.url.route('auth.signin') }}">Authentication</a>
            {% else %}
                {% if helper.access(helper.config('auth.accessToBackend')) %}
                    <a href="{{ helper.url.route('dashboard') }}">Backend</a>
                {% else %}
                    <a href="{{ helper.url.route('auth.signout') }}">SignOut</a> <a href="{{ helper.url.route('auth.signout.all') }}">Close all session</a> <a href="{{ helper.url.route('auth.change.password') }}">Change password</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
