{{ widget('MMV.FW.Example.Widgets.Form')|raw }}

<div class="form-group">
    {{ widget('MMV.FW.Example.Widgets.Form.Input', {
        name: 'email',
        label: 'auth@fieldEmail'|trans,
        type: 'email',
        autofocus: true,
        required: true,
        value: user.email ?? '',
        errors: errors,
    })|raw }}
</div>

<div class="form-group">
    {{ widget('MMV.FW.Example.Widgets.Form.Input', {
        name: 'login',
        label: 'auth@fieldLogin'|trans,
        help: 'auth@helpLogin'|trans,
        required: true,
        value: user.login ?? '',
        errors: errors,
    })|raw }}
</div>

<div class="form-group">
    {{ widget('MMV.FW.Example.Widgets.Form.Checkbox', {
        name: 'email_confirmed',
        label: 'auth@messages.successConfirmEmail'|trans,
        value: user.email_confirmed ?? '',
        errors: errors,
    })|raw }}
</div>

<div class="form-group">
    {{ widget('MMV.FW.Example.Widgets.Form.Select', {
        name: 'role',
        label: 'backend@role.role'|trans,
        required: true,
        value: user.role ?? '',
        options: roles,
        errors: errors,
    })|raw }}
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">{{ button|trans }}</button>
</div>

</form>
