{% extends "@fw-example/backend.layer.html.twig" %}

{% do helper.head.addTitle(helper.trans('backend@role.title')) %}
{% do helper.selectBackendLeftMenu('backend@role.title') %}

{% block content %}

<h1>{{ 'backend@role.title'|trans }}</h1>

<p>{{ 'backend@role.default'|trans }}: <strong>{{ roleDefault }}</strong></p>

{{ widget('MMV.FW.Example.Widgets.TableGrid', {
    strategy: 'MMV.FW.Example.Widgets.TableGrid.Strategies.Matrix',
    collection: roles,
    columns: [
        {field: 'id', title: '#'},
        {field: 'name', title: helper.trans('backend@role.columnName'), class: 'MMV.FW.Example.Backend.TableGrid.RoleColumnName'},
        {
            field: 'description',
            title: helper.trans('backend@role.columnDescription'),
            translate: true,
            class: 'MMV.FW.Example.Backend.TableGrid.RoleColumnDescription',
        },
    ],
})|raw }}

{% endblock %}
