{% extends "@fw-example/backend.layer.html.twig" %}

{% set title = helper.trans('backend@role.role') ~ ': ' ~ role.name %}

{% do helper.head.addTitle(title) %}
{% do helper.selectBackendLeftMenu('backend@role.title') %}

{% block content %}

{{ widget('MMV.FW.Example.Widgets.Breadcrumb', {
    path: [
        [helper.trans('backend@role.title'), helper.url.route('backend.user.role.list')],
        title,
    ],
})|raw }}

<h1>{{ 'backend@role.role'|trans }}: {{ role.name }}</h1>

<p>{{ widget('MMV.FW.Example.Backend.ViewInfoRole', {role: role})|raw }}</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>{{ 'backend@role.resources'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for groupName, groupResources in resources %}
            {% if groupName != '-' %}
                <tr>
                    <td colspan="2"><div class="h5">{{ helper.trans(groupName) }}</div></td>
                </tr>
            {% endif %}
            {% for resource in groupResources %}
                <tr>
                    <td>
                        <div class="form-check">
                            <input{% if access.checkResource(role.id, resource.name) %} checked{% endif %} onclick="return false;" class="form-check-input" type="checkbox">
                        </div>
                    </td>
                    <td>
                        <strong>{{ resource.name }}</strong><br />
                        {{ helper.trans(resource.description) }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
