{% extends "@fw-example/backend.layer.html.twig" %}

{% do helper.head.addTitle(helper.trans('backend@user.new_user')) %}
{% do helper.selectBackendLeftMenu('backend@user.title') %}

{% block content %}

{{ widget('MMV.FW.Example.Widgets.Breadcrumb', {
    path: [
        [helper.trans('backend@user.title'), helper.url.route('backend.user.list')],
        helper.trans('backend@user.new_user'),
    ],
})|raw }}

<h1>{{ 'backend@user.new_user'|trans }}</h1>

{% include 'user/_user.html.twig' with {
    button:'backend@form.create',
    roles: roles,
    errors: errors ?? [],
} %}

{% endblock %}
