{% extends "@fw-example/backend.layer.html.twig" %}

{% do helper.head.addTitle(helper.trans('backend@user.update_user')) %}
{% do helper.selectBackendLeftMenu('backend@user.title') %}

{% block content %}

{{ widget('MMV.FW.Example.Widgets.Breadcrumb', {
    path: [
        [helper.trans('backend@user.title'), helper.url.route('backend.user.list')],
        helper.trans('backend@user.update_user'),
    ],
})|raw }}

<h1>{{ 'backend@user.update_user'|trans }}</h1>

{% if message %}
    {{ widget('MMV.FW.Example.Widgets.Alert', {type: 'success', messages: message|trans})|raw }}
{% endif %}

{% include 'user/_user.html.twig' with {
    button: 'backend@form.update',
    roles: roles,
    errors: errors ?? [],
    user: user,
} %}

{% endblock %}
