{% extends "@fw-example/backend.layer.html.twig" %}

{% do helper.head.addTitle(helper.trans('backend@user.title')) %}
{% do helper.selectBackendLeftMenu('backend@user.title') %}

{% block content %}

<h1>{{ 'backend@user.title'|trans }}</h1>

<p><a class="btn btn-primary" href="{{ helper.url.route('backend.user.create') }}">{{ helper.trans('backend@user.new_user') }}</a></p>

{{ widget('MMV.FW.Example.Widgets.TableGrid', {
    strategy: 'MMV.FW.Example.Widgets.TableGrid.Strategies.QueryBuilder',
    collection: collection,
    viewParams: {gridFilter: 'col-sm-6'},
    limit: 50,
    filters: [
        {field: 'id', class: 'MMV.FW.Example.Widgets.TableGrid.QueryBuilder.FilterEqual'},
        'email',
        {field: 'login', title: helper.trans('backend@user.columnLogin')},
        {
            field: 'role',
            title: '',
            class: 'MMV.FW.Example.Widgets.TableGrid.QueryBuilder.FilterSelect',
            options: roles,
        },
    ],
    columns: [
        {
            class: 'MMV.FW.Example.Backend.TableGrid.ColumnControls',
            title: '-',
            buttons: [
                {icon: 'fa-edit', title: helper.trans('backend@user.actionUpdate'), url: ['MMV\\FW\\Example\\Controllers\\User', 'genUrlUpdate']},
                {icon: 'fa-trash-alt', title: helper.trans('backend@user.actionDelete'), id: 'btDel'},
            ],
        },
        {field: 'email', sort: true},
        {field: 'login', title: helper.trans('backend@user.columnLogin'), sort: true},
        {
            field: 'role',
            title: helper.trans('backend@user.columnRole'),
            class: 'MMV.FW.Example.Backend.TableGrid.UserColumnRole',
            roles: roles,
        },
    ],
})|raw }}

<script>
    panelAdmin.addInitFunction(function(pa){
        $('#table-grid .btDel').on('click', function(){
            var tr = $(this).parents('tr')
            var email = $('.n1', tr).text();
            var name = $('.n2', tr).text();

            var id = $(this).attr('data-id')
            var url = "{{ helper.url.route('backend.user.delete', {id: 0}) }}"

            var content = $('<div class="h3 text-break">'+name+'</div><p><strong class="text-break">'+email+'</strong></p><div>{{ "backend@user.warning"|trans }}</div>')
            var footer = $('<button>', {class: 'btn btn-primary', text: '{{ "backend@form.delete"|trans }}'})

            footer.on('click', function(){
                pa.ajax({
                    method: 'POST',
                    data: { {{ helper.csrfField() }} : '{{ helper.csrfValue() }}' },
                    url: url.replace('0', id),
                    success: function() {
                        pa.closeModal()
                        pa.loading(false)
                        window.location.href = window.location.href
                    }
                })
                return false
            })
            footer = [
                $('<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "backend@form.cancel"|trans }}</button>'),
                footer
            ]

            pa.simpleModal('{{ "backend@user.question"|trans }}', content, 'lg', footer, '')

            return false
        })
    })
</script>


{% endblock %}
