<!doctype html>
<html lang="{{ helper.getlocale() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            @import url("https://fonts.googleapis.com/css?family=Nunito");
            body {
                font-family: "Nunito", sans-serif;
                font-size: 18px;
                width: 100vw;
                height: 100vh;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .message {
                text-align: center;
            }
        </style>
        <title>{{ error }}</title>

    </head>
    <body>
        <div class="message">
            {{ code }} | {{ error }}
            {% if message %}<br>{{ message }}{% endif %}
        </div>
    </body>
</html>
