{% set content %}{% block content %}{% endblock %}{% endset %}
<!doctype html>
<html lang="{{ helper.getlocale() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ helper.url.path('assets/panel-admin/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ helper.url.path('assets/panel-admin/main.css') }}">

        <script src="{{ helper.url.path('assets/panel-admin/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ helper.url.path('assets/panel-admin/main.js') }}"></script>

        {{ helper.phpDebugBarRenderHead()|raw }}
        {{ helper.head|raw }}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-9 col-md-7 col-lg-6 col-xl-4">
                    {{ content|raw }}
                </div>
            </div>
        </div>
        {{ helper.phpDebugBarRenderBody()|raw }}
    </body>
</html>
