{% set content %}{% block content %}{% endblock %}{% endset %}
<!doctype html>
<html lang="{{ helper.getLocale() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ helper.url.path('assets/panel-admin/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ helper.url.path('assets/panel-admin/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ helper.url.path('assets/panel-admin/main.css') }}">

        <script src="{{ helper.url.path('assets/panel-admin/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ helper.url.path('assets/panel-admin/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ helper.url.path('assets/panel-admin/main.js') }}"></script>

        {{ helper.phpDebugBarRenderHead('jquery')|raw }}
        {{ helper.head|raw }}
    </head>
    <body>
        <div id="panel-admin">
            <div id="panel-admin-right" class="scroll">
                <div id="par-content" class="container-fluid">
                    {{ content|raw }}
                </div>
            </div>

            <div id="panel-admin-left">
                <div id="pal-content" class="scroll">
                    {{ widget('MMV.FW.Example.Widgets.Backend.MenuLeft', {
                        list: helper.getBackendMenu('left'),
                        select: helper.selectBackendLeftMenu(),
                    })|raw }}
                </div>
            </div>

            <div id="panel-admin-top">
                <div class="pat-button"></div>
                <div class="pat-title"><a title="{{ helper.trans(helper.config('head.SEO.title')) }}" href="{{ helper.url.route('dashboard') }}">{{ helper.trans(helper.config('head.SEO.title')) }}</a></div>
                <div class="pat-menu">
                    {{ widget('MMV.FW.Example.Widgets.Backend.MenuTop', {list: helper.getBackendMenu('top')})|raw }}
                </div>
            </div>
        </div>
        {{ helper.phpDebugBarRenderBody()|raw }}
    </body>
</html>
