{% set title = the.getTitle() %}
{% if title %}
    <title>{{ title }}</title>
{% endif %}
{% if the.getKeywords() %}
        <meta name="keywords" content="{{ the.getKeywords() }}">
{% endif %}
{% if the.getDescription() %}
        <meta name="description" content="{{ the.getDescription() }}">
{% endif %}
{{ sources|raw }}

