{% set content %}{% block content %}{% endblock %}{% endset %}
<!doctype html>
<html lang="{{ helper.getlocale() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>@import url("https://fonts.googleapis.com/css?family=Nunito"); body {font-family: "Nunito", sans-serif; font-size: 16px; padding: 0; margin: 0;}</style>
        {{ helper.phpDebugBarRenderHead('jquery')|raw }}
        {{ helper.head|raw }}
    </head>
    <body>
        {{ content|raw }}
        {{ helper.phpDebugBarRenderBody()|raw }}
    </body>
</html>
