{% extends "@fw-example/auth.layer.html.twig" %}

{% do helper.head.addTitle('auth@changePassword'|trans) %}

{% block content %}

<div class="h3">{{ 'auth@changePassword'|trans }}</div>

{{ widget('MMV.FW.Example.Widgets.Alert', {type: 'info', messages: helper.trans('auth@user') ~ ': ' ~ user.login})|raw }}

{{ widget("MMV.FW.Example.Widgets.Form", {errors: errors, protect: true})|raw }}

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Password", {
            name: 'password',
            label: 'auth@fieldNewPassword'|trans,
            required: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Password", {
            name: 'confirm',
            label: 'auth@fieldConfirm'|trans,
            required: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'auth@changePasswordButton'|trans }}</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <a href="{{ helper.url.route('auth.signin') }}" class="pl-0 btn btn-link">{{ 'auth@linkCancel'|trans }}</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
