{% extends "@fw-example/auth.layer.html.twig" %}

{% do helper.head.addTitle('auth@forgotPassword'|trans) %}

{% block content %}

<div class="h3">{{ 'auth@forgotPassword'|trans }}</div>

{{ widget("MMV.FW.Example.Widgets.Form", {errors: errors, protect: true})|raw }}

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Input", {
            name: 'email',
            alias: 'uid',
            label: 'auth@fieldEmail'|trans,
            type: 'email',
            required: true,
            autofocus: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'auth@forgotPasswordButton'|trans }}</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <a href="{{ helper.url.route('auth.signin') }}" class="pl-0 btn btn-link">{{ 'auth@linkSignin'|trans }}</a>
                {% if helper.config('auth.registration') %}<a href="{{ helper.url.route('auth.signup') }}" class="pl-0 btn btn-link">{{ 'auth@linkSignup'|trans }}</a>{% endif %}
            </div>
        </div>
    </div>

</form>

{% endblock %}
