Доброе время суток.

Вы запросили восстановление доступа на сайт {{ helper.url.home(true) }}, для завершения процедуры перейдите по ссылке {{ helper.url.route('auth.reset.password', {id: record_id, code: code}, true) }} .

Если вы не запрашивали восстановление доступа то просто игнорируйте письмо.
