Доброе время суток.

Вы прошли регистрацию на сайт {{ helper.url.home(true) }}, и для завершения процедуры нужно подтвердить электронную почту, для этого перейдите по ссылке {{ helper.url.route('auth.confirm.email', {id: record_id, code: code}, true) }} .

Если вы не регистрировались и письмо пришло к вам по ошибке то просто игнорируйте письмо.
