{% extends "@fw-example/auth.layer.html.twig" %}

{% do helper.head.addTitle('auth@signin'|trans) %}

{% block content %}

<div class="h3">{{ 'auth@signin'|trans }}</div>

{% if message %}
    {{ widget('MMV.FW.Example.Widgets.Alert', {type: 'success', messages: message})|raw }}
{% endif %}

{{ widget("MMV.FW.Example.Widgets.Form", {errors: errors, protect: true})|raw }}

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Input", {
            name: 'email',
            alias: 'uid',
            label: 'auth@fieldEmail'|trans,
            type: 'email',
            required: true,
            autofocus: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Password", {
            name: 'password',
            label: 'auth@fieldPassword'|trans,
            required: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget('MMV.FW.Example.Widgets.Form.Checkbox', {
            name: 'rememberme',
            label: 'auth@fieldRememberMe'|trans,
            value: data,
            errors: errors,
        })|raw }}
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'auth@signinButton'|trans }}</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                {% if helper.config('auth.registration') %}<a href="{{ helper.url.route('auth.signup') }}" class="pl-0 btn btn-link">{{ 'auth@linkSignup'|trans }}</a>{% endif %}
                <a href="{{ helper.url.route('auth.forgot.password') }}" class="pl-0 btn btn-link">{{ 'auth@linkForgotPassword'|trans }}</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
