{% extends "@fw-example/auth.layer.html.twig" %}

{% do helper.head.addTitle('auth@signup'|trans) %}

{% block content %}

<div class="h3">{{ 'auth@signup'|trans }}</div>

{{ widget("MMV.FW.Example.Widgets.Form", {errors: errors, protect: true})|raw }}

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Input", {
            name: 'email',
            alias: 'uid',
            label: 'auth@fieldEmail'|trans,
            type: 'email',
            required: true,
            autofocus: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Input", {
            name: 'login',
            label: 'auth@fieldLogin'|trans,
            required: true,
            errors: errors,
            value: data,
            help: 'auth@helpLogin'|trans
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Password", {
            name: 'password',
            label: 'auth@fieldPassword'|trans,
            required: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="form-group">
        {{ widget("MMV.FW.Example.Widgets.Form.Password", {
            name: 'confirm',
            label: 'auth@fieldConfirm'|trans,
            required: true,
            errors: errors,
            value: data,
        })|raw }}
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'auth@signupButton'|trans }}</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <a href="{{ helper.url.route('auth.signin') }}" class="pl-0 btn btn-link">{{ 'auth@linkSignin'|trans }}</a>
                <a href="{{ helper.url.route('auth.forgot.password') }}" class="pl-0 btn btn-link">{{ 'auth@linkForgotPassword'|trans }}</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
