/**
 * @version 2.0.0
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'loader';

$heightPanelTop: 4rem;
$widthPanelLeft: 18rem;
$minWidth: 480px;

$colorFon: #000;
$colorFonSecond: #111;
$colorText: #fff;
$colorTextSecond: #007bff;
$colorGrey: #888888;

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    min-width: $minWidth;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: $colorTextSecond $colorFonSecond;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: $colorFonSecond;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorTextSecond;
    }
}

#panel-admin {
    position: relative;
    visibility: hidden;
}

#panel-admin-right {
    position: relative;
    top: $heightPanelTop;
    padding-left: $widthPanelLeft;
    overflow-y: auto;
    overflow-x: hidden;

    #par-content {
        padding-top: 1.3rem;
        padding-bottom: 2rem;
    }

    &.scroll {
        scrollbar-color: $colorTextSecond $colorText;

        &::-webkit-scrollbar-track {
            background: $colorText
        }
    }
}

#panel-admin-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: $widthPanelLeft;
    height: 100vh;
    background-color: $colorFonSecond;
    padding-top: $heightPanelTop;
    color: $colorText;

    #pal-content {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 0;

            &:before {
                content: none;
            }

            ul {
                display: none;
            }
        }
    }

    .pal-menu {
        padding: 1.3rem 0;
        font-size: 1.05rem;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .pal-select {
            background: url('border1.png') left top repeat-y;
        }

        .pal-text {
            color: $colorText;
            text-decoration: none;
            display: block;
            padding: 0.4rem 0;
            padding-right: 0.9rem;
            cursor: pointer;

            &:hover {
                background-color: $colorTextSecond;
            }

            i {
                font-size: 0.75rem;
                padding-left: 0.3rem;
            }
        }

        .pal-sub > span {
            background: url(arrow1.png) right center no-repeat;
            padding-right: 1.7rem;
        }

        .pal-open {
            & > ul {
                display: block;
            }

            & > span {
                background-image: url(arrow2.png);
            }
        }

        .pal-separation {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
            cursor: default;

            span {
                display: block;
                height: 1px;
                background: $colorGrey;
                margin: 2px 0;
            }

            &:hover {
                background-color: inherit;
            }
        }
    }
}

#panel-admin-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 925;
    width: 100%;
    height: $heightPanelTop;
    background-color: $colorFon;

    .pat-button {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: $heightPanelTop;
        height: $heightPanelTop;
        background: url(menu1.png) center center no-repeat;
        cursor: pointer;

        &:hover {
            background: url(menu2.png) center center no-repeat;
        }
    }

    .pat-title {
        position: absolute;
        width: 50%;
        top: 0;
        left: 1.3rem;
        font-size: 1.5rem;
        line-height: $heightPanelTop;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $colorText;

        a {
            color: $colorText;
            text-decoration: none;

            &:hover {
                color: $colorTextSecond;
            }
        }
    }

    .pat-menu {
        position: absolute;
        top: 0;
        right: 1rem;
        max-width: 25%;
        color: $colorText;

        .pat-menu-title {
            cursor: pointer;
            font-size: 1.1rem;
            padding: 0 1rem;
            line-height: $heightPanelTop;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background: $colorTextSecond;
            }
        }

        ul {
            display: none;
            position: absolute;
            z-index: 950;
            top: $heightPanelTop;
            right: -1rem;
            margin: 0;
            padding: 0 0 0.3rem 0;
            list-style: none;
            background: $colorFonSecond;
            overflow-y: auto;
            border-left: 1px $colorGrey solid;
            border-bottom: 1px $colorGrey solid;
            max-width: 40vw;

            li {
                line-height: normal;
                margin: 0;

                &::before {
                    content: none;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $colorText;
                    padding: 0.5rem 1rem;
                    font-size: 1.05rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        background: $colorTextSecond;
                    }
                }

                i {
                    font-size: 0.75rem;
                    padding-left: 0.3rem;
                }
                
                .pat-separation {
                    display: block;
                    height: 0.05rem;
                    background: $colorGrey;
                    margin: 0.2rem 0.5rem;
                }
            }

            &.pat-show {
                display: block;
            }
        }
    }
}

@media (max-width: 1080px) {
    #panel-admin-left {
        left: -1 * ($widthPanelLeft + 1rem);

        &.pal-show {
            left: 0;
        }
    }

    #panel-admin-right {
        padding-left: 0;
    }

    #panel-admin-top {

        .pat-button {
            display: block;
        }

        .pat-title {

            left: $heightPanelTop + 0.8rem
        }
    }
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 975;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    .cssload-container {
        margin-top: -20px
    }
}

.table_grid_controls a {
    margin-right: 0.6rem;

    &:last-child {
        margin-left: 0;
    }
}
