{% if it.label %}<label for="field_{{ it.name() }}">{{ it.label }}{% if it.required %}<span class="text-danger">*</span>{% endif %}</label>{% endif %}
{% if errors %}
    <div class="text-danger">{{ errors|join('<br>')|raw }}</div>
{% endif %}
{% for key, val in it.options %}
    <div class="form-check{% if it.inline %} form-check-inline{% endif %}">
        <input id="field_{{ it.name() ~ '_' ~ loop.index }}" class="form-check-input{% if errors %} is-invalid{% endif %}{% if it.required %} {{ it.name() ~ '_group_checkbox' }}{% endif %}" name="{{ it.name() ~ '[]' }}" value="{{ key }}" type="{{ it.type }}"{% if it.checkSelect(key, value) %} checked{% endif %}{% if it.disabled %} disabled{% endif %}{% if it.required %} required{% endif %}>
        <label for="field_{{ it.name() ~ '_' ~ loop.index }}" class="form-check-label">{{ val }}</label>
    </div>
{% endfor %}
{% if it.help %}<div class="form-text text-muted">{{ it.help|raw }}</div>{% endif %}
{% if it.required %}
    {% set js %}
    <script>
        var checkboxMultiRequiredChange = function(target) {
            $(target).on('change', function(){
                var requiredCheckboxes = $(target+':checkbox')

                checkboxMultiRequired(requiredCheckboxes)
            })
        }

        var checkboxMultiRequired = function(checkboxes) {
            if(checkboxes.is(':checked')) {
                checkboxes.removeAttr('required');
            }
            else {
                checkboxes.attr('required', 'required');
            }
        }
    </script>
    {% endset %}
    {% do helper.head.addSource('checkboxMultiRequired', js) %}

    <script>
        panelAdmin.addInitFunction(function(){
            var target = '.{{ it.name ~ "_group_checkbox" }}'
            checkboxMultiRequiredChange(target)
            checkboxMultiRequired($(target+':checkbox'))
        })
    </script>
{% endif %}
