{% if errors %}
    <div class="text-danger">{{ errors|join('<br>')|raw }}</div>
{% endif %}
<div class="form-check">
    <input type="hidden" name="{{ it.name() }}" value="{{ it.defaultOff }}">
    <input id="field_{{ it.name() }}" class="form-check-input{% if errors %} is-invalid{% endif %}" name="{{ it.name() }}" value="{{ it.defaultOn }}" type="{{ it.type }}"{% if value == it.defaultOn %} checked{% endif %}{% if it.disabled %} disabled{% endif %}{% if it.required %} required{% endif %}>
    <label for="field_{{ it.name() }}" class="form-check-label">{{ it.label }}{% if it.required %}<span class="text-danger">*</span>{% endif %}</label>
</div>
{% if it.help %}<div class="form-text text-muted">{{ it.help|raw }}</div>{% endif %}
