<form{% if it.id %} id="{{ it.id }}"{% endif %}{% if it.protect %} class="checkform"{% endif %} action="{{ it.action }}" method="{{ it.method }}" enctype="{{ it.enctype }}">
{% if errors %}{{ widget('MMV.FW.Example.Widgets.Alert', {type: 'danger', messages: errors})|raw }}{% endif %}
<input type="hidden" name="{{ helper.csrfField }}" value="{{ helper.csrfValue }}">
{% if it.protect %}
    <input class="field_email" name="email" value="">

    {% set js %}
    <script>
        panelAdmin.addInitFunction(function(){
            $('.checkform').submit(function(){
                $('.checkform').append($('<input style="display: none;" name="promise" value="I\'m not a robot">'))
            })
        })
    </script>
    {% endset %}
    {% do helper.head.addSource('protectFormJs', js) %}

    {% set css %}<style>.field_email { display: none; }</style>{% endset %}
    {% do helper.head.addSource('protectFormCss', css) %}

{% endif %}
