{% if it.label %}<label for="field_{{ it.name() }}">{{ it.label }}{% if it.required %}<span class="text-danger">*</span>{% endif %}</label>{% endif %}
{% if errors %}
    <div class="text-danger">{{ errors|join('<br>')|raw }}</div>
{% endif %}
<input type="hidden" name="{{ it.name() }}" value="{{ it.default }}">
<select id="field_{{ it.name() }}" class="custom-select{% if errors %} is-invalid{% endif %}" name="{{ it.name() }}"{% if it.disabled %} disabled{% endif %}{% if it.required %} required{% endif %}>
    {% if it.defaultLabel %}<option value="{{ it.defaultValue }}">{{ it.defaultLabel }}</option>{% endif %}
    {% for key, val in it.options %}
        <option{% if it.checkSelect(key, value) %} selected{% endif %} value="{{ key }}">{{ val }}</option>
    {% endfor %}
</select>
{% if it.help %}<div class="form-text text-muted">{{ it.help|raw }}</div>{% endif %}
