<div id="{{ it.id }}">
    {% if filters|length > 0 %}
        <div class="filters">
            <a href="#" {% if not active %}class="text-secondary"{% endif %}><i class="fas fa-magic"></i> Фильтр</a>
            <form style="display: {% if active %}block{% else %}none{% endif %};" method="GET" action="{{ helper.url.current() }}">
                {% for key, val in params %}
                    {% if not helper.preg_match('/^f[0-9]+$/', key) %}<input type="hidden" name="{{ key }}" value="{{ val }}">{% endif %}
                {% endfor %}
                <div class="row">
                    {% for index, filter in filters %}
                        {{ filter.htmlCol(helper, index, params, it.viewParams)|raw }}
                    {% endfor %}
                </div>
                <input type="submit" style="display:none;">
            </form>
        </div>
        <script>
            panelAdmin.addInitFunction(function(pa){
                $('#{{ it.id}} .filters a').on('click', function(){
                    var form = $('#{{ it.id }} .filters form')
                    if(form.css('display') == 'none') form.css('display', 'block')
                    else form.css('display', 'none')
                    return false
                })
            })
        </script>
    {% endif %}

    <div class="{{ it.viewParams.tableResponsive ?? 'table-responsive' }}">
        <table class="table mb-3">
            <thead class="thead-dark">
                <tr>
                    {% for index, column in columns %}
                        {{ column.htmlCellHead(helper, index, params, it.viewParams)|raw }}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in collection %}
                    <tr>
                        {% for index, column in columns %}
                            {{ column.htmlCellBody(helper, row, index, it.viewParams)|raw }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ widget('MMV.FW.Example.Widgets.Paginator', {
        total: paginator.total,
        select: paginator.select,
        params: params,
        url: helper.url.current()
    })|raw }}

    {% for resource in resources %}
        {{ resource|raw }}
    {% endfor %}
</div>
