{% if it.label %}<label for="field_{{ it.name() }}">{{ it.label }}{% if it.required %}<span class="text-danger">*</span>{% endif %}</label>{% endif %}
{% if errors %}
    <div class="text-danger">{{ errors|join('<br>')|raw }}</div>
{% endif %}
<textarea id="field_{{ it.name() }}" class="form-control{% if errors %} is-invalid{% endif %}" name="{{ it.name() }}" rows="{{ it.rows }}"{% if it.disabled %} disabled{% endif %}{% if it.placeholder %} placeholder="{{ it.placeholder }}"{% endif %}{% if it.required %} required{% endif %}>{{ value }}</textarea>
{% if it.help %}<div class="form-text text-muted">{{ it.help|raw }}</div>{% endif %}
{% if it.autofocus %}
<script>
    panelAdmin.addInitFunction(function(){
        $("#field_{{ it.name() }}").focus();
    })
</script>
{% endif %}
