/**
 * @version 2.0.0
 */
@import url("https://fonts.googleapis.com/css?family=Nunito");
.cssload-container * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-container {
  margin: 19px auto 0 auto;
  max-width: 531px;
}

.cssload-container ul li {
  list-style: none;
}

.cssload-flex-container {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
}

.cssload-flex-container li {
  padding: 9px;
  height: 95px;
  width: 95px;
  margin: 28px 19px;
  position: relative;
  text-align: center;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 81px;
  height: 81px;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 5px solid transparent;
  border-bottom: 5px solid #007bff;
  border-left: 5px solid #007bff;
  animation: cssload-spinR 2.3s linear infinite;
  -o-animation: cssload-spinR 2.3s linear infinite;
  -ms-animation: cssload-spinR 2.3s linear infinite;
  -webkit-animation: cssload-spinR 2.3s linear infinite;
  -moz-animation: cssload-spinR 2.3s linear infinite;
}

.cssload-loading:before, .cssload-loading:after {
  content: "";
  display: block;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
}

.cssload-loading:before {
  height: 47px;
  width: 47px;
  border: 3px solid transparent;
  border-top: 3px solid #007bff;
  border-right: 3px solid #007bff;
  animation: cssload-spinL 0.86s linear infinite;
  -o-animation: cssload-spinL 0.86s linear infinite;
  -ms-animation: cssload-spinL 0.86s linear infinite;
  -webkit-animation: cssload-spinL 0.86s linear infinite;
  -moz-animation: cssload-spinL 0.86s linear infinite;
  transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  top: 11%;
  left: 11%;
}

.cssload-loading:after {
  height: 9px;
  width: 9px;
  background: transparent;
  border: 2px solid #007bff;
  top: 35.5%;
  left: 35.5%;
}

@keyframes cssload-spinR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spinR {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spinR {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spinR {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spinR {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes cssload-spinL {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-o-keyframes cssload-spinL {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes cssload-spinL {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@-webkit-keyframes cssload-spinL {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes cssload-spinL {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  min-width: 480px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #007bff #111;
}
.scroll::-webkit-scrollbar {
  width: 7px;
}
.scroll::-webkit-scrollbar-track {
  background: #111;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

#panel-admin {
  position: relative;
  visibility: hidden;
}

#panel-admin-right {
  position: relative;
  top: 4rem;
  padding-left: 18rem;
  overflow-y: auto;
  overflow-x: hidden;
}
#panel-admin-right #par-content {
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}
#panel-admin-right.scroll {
  scrollbar-color: #007bff #fff;
}
#panel-admin-right.scroll::-webkit-scrollbar-track {
  background: #fff;
}

#panel-admin-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 18rem;
  height: 100vh;
  background-color: #111;
  padding-top: 4rem;
  color: #fff;
}
#panel-admin-left #pal-content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
#panel-admin-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#panel-admin-left ul li {
  margin-bottom: 0;
}
#panel-admin-left ul li:before {
  content: none;
}
#panel-admin-left ul li ul {
  display: none;
}
#panel-admin-left .pal-menu {
  padding: 1.3rem 0;
  font-size: 1.05rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#panel-admin-left .pal-menu .pal-select {
  background: url("border1.png") left top repeat-y;
}
#panel-admin-left .pal-menu .pal-text {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.4rem 0;
  padding-right: 0.9rem;
  cursor: pointer;
}
#panel-admin-left .pal-menu .pal-text:hover {
  background-color: #007bff;
}
#panel-admin-left .pal-menu .pal-text i {
  font-size: 0.75rem;
  padding-left: 0.3rem;
}
#panel-admin-left .pal-menu .pal-sub > span {
  background: url(arrow1.png) right center no-repeat;
  padding-right: 1.7rem;
}
#panel-admin-left .pal-menu .pal-open > ul {
  display: block;
}
#panel-admin-left .pal-menu .pal-open > span {
  background-image: url(arrow2.png);
}
#panel-admin-left .pal-menu .pal-separation {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  cursor: default;
}
#panel-admin-left .pal-menu .pal-separation span {
  display: block;
  height: 1px;
  background: #888888;
  margin: 2px 0;
}
#panel-admin-left .pal-menu .pal-separation:hover {
  background-color: inherit;
}

#panel-admin-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 925;
  width: 100%;
  height: 4rem;
  background-color: #000;
}
#panel-admin-top .pat-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: url(menu1.png) center center no-repeat;
  cursor: pointer;
}
#panel-admin-top .pat-button:hover {
  background: url(menu2.png) center center no-repeat;
}
#panel-admin-top .pat-title {
  position: absolute;
  width: 50%;
  top: 0;
  left: 1.3rem;
  font-size: 1.5rem;
  line-height: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
#panel-admin-top .pat-title a {
  color: #fff;
  text-decoration: none;
}
#panel-admin-top .pat-title a:hover {
  color: #007bff;
}
#panel-admin-top .pat-menu {
  position: absolute;
  top: 0;
  right: 1rem;
  max-width: 25%;
  color: #fff;
}
#panel-admin-top .pat-menu .pat-menu-title {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0 1rem;
  line-height: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#panel-admin-top .pat-menu .pat-menu-title:hover {
  background: #007bff;
}
#panel-admin-top .pat-menu ul {
  display: none;
  position: absolute;
  z-index: 950;
  top: 4rem;
  right: -1rem;
  margin: 0;
  padding: 0 0 0.3rem 0;
  list-style: none;
  background: #111;
  overflow-y: auto;
  border-left: 1px #888888 solid;
  border-bottom: 1px #888888 solid;
  max-width: 40vw;
}
#panel-admin-top .pat-menu ul li {
  line-height: normal;
  margin: 0;
}
#panel-admin-top .pat-menu ul li::before {
  content: none;
}
#panel-admin-top .pat-menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#panel-admin-top .pat-menu ul li a:hover {
  background: #007bff;
}
#panel-admin-top .pat-menu ul li i {
  font-size: 0.75rem;
  padding-left: 0.3rem;
}
#panel-admin-top .pat-menu ul li .pat-separation {
  display: block;
  height: 0.05rem;
  background: #888888;
  margin: 0.2rem 0.5rem;
}
#panel-admin-top .pat-menu ul.pat-show {
  display: block;
}

@media (max-width: 1080px) {
  #panel-admin-left {
    left: -19rem;
  }
  #panel-admin-left.pal-show {
    left: 0;
  }

  #panel-admin-right {
    padding-left: 0;
  }

  #panel-admin-top .pat-button {
    display: block;
  }
  #panel-admin-top .pat-title {
    left: 4.8rem;
  }
}
#loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 975;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#loading .cssload-container {
  margin-top: -20px;
}

.table_grid_controls a {
  margin-right: 0.6rem;
}
.table_grid_controls a:last-child {
  margin-left: 0;
}

/*# sourceMappingURL=main.css.map */
